---
import Layout from "../Layout.astro"
---

<Layout>
  <div
    class="flex-1 w-full min-h-full flex flex-col px-6 py-8 justify-center font-sans text-z"
  >
    <h1 class="text-center text-z-heading text-4xl font-semibold">o li e la</h1>
    <p class="text-center mt-1 text-z-subtitle">
      What deck are you trying to access?
    </p>
    <div
      class="flex flex-col gap-2 w-72 max-w-full mx-auto *:z-field *:shadow-none text-center mt-8"
    >
      <a href="/tok">Toki Pona</a>
      <a href="/misc/conlangs">Intro to Conlangs</a>
    </div>
  </div>
</Layout>
